<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="linqpad" />
    <package id="google-chrome-x64" />
    <package id="firefox" />
    <package id="opera" />
    <package id="github" />
    <package id="p4merge" />
    <package id="fiddler" />
    <package id="webpicmd" />
    <package id="nodejs" />
    <package id="awstools.powershell" />
    <package id="wixtoolset" />
    <package id="insted" />
</packages>
