<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="visualstudio2013premium" />
    <package id="googlechrome" />
    <package id="github" />
    <package id="p4merge" />
    <package id="nodejs" />
    <package id="awstools.powershell" />
    <package id="wixtoolset" />
    <package id="ruby" />
</packages>
